extends layout

block content
  div#main(ng-app="myApp" ng-controller="BaseController")
    div(main-directive ng-repeat="zone in zones")
      div(ng-repeat="(key,val) in zone.widgets")
        div(ng-repeat="(k,widget) in val |orderBy:k")
          div({{widget.type}})
